<p id="notice"><%= notice %></p>

<p>
  <b>Score:</b>
  <%= @high_score.score %>
</p>

<p>
  <b>Name:</b>
  <%= @high_score.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @high_score.comment %>
</p>

<p>
  <b>Date:</b>
  <%= @high_score.date %>
</p>


<%= link_to 'Edit', edit_high_score_path(@high_score) %> |
<%= link_to 'Back', high_scores_path %>
